.header {
    background-color: rgb(244, 241, 241); /* Adjust the color as needed */
    color: rgb(7, 7, 7);
    padding: 10px;
    margin: 0 8em;
    position: relative;
  }
  .logoimg{
/* font-size: large; */
width: 100px;
}
.logoName{
    width: 350px;
    display: flex;
    /* gap:1em; */
    font-size:smaller;
    /* justify-content: center; */
    align-items: center;
    color: #5a4001;
    text-align: center;
  }
  
 .rightside{
display: flex;
align-self: flex-end;
gap:1em;
 }
.mix{
  display: flex;
  flex-direction: column;
  gap:1.2em;
  width: 60%;
}
  .Clock{
display: flex;
align-items: center;
gap: 1em;
  }
  .Mail{
display: flex;
align-items: center;
gap: 1em;
  }

  .header-info {
    display: flex;
    justify-content: space-between;
  }
  
  .header-alert {
    background-color: #900; /* Adjust the color as needed */
    color: white;
    padding: 5px;
  }
  