.carousel-item img {
  width: 100%;
  height: 520px;
  object-fit: cover;
}

.carousel {
  position: relative;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 1;
}

.carousel-indicators {
  z-index: 1;
}
