/* General Footer Styles */
.footer {
  background-color: black;
  color: goldenrod;
  padding: 40px 20px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

/* Footer Column Styles */
.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-column h4::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #808080;
  margin-top: 5px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  color: #ccc;
  transition: color 0.3s ease;
}

.footer-column ul li:hover {
  color: #026AA7;
  cursor: pointer;
}

/* Footer Bottom Section */
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 12px;
  color: white;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-bottom a:hover {
  color: #ccc;
}

/* Footer Certificates */
.footer-certificates {
  display: flex;
  align-items: center;
}

.footer-certificates img {
  width: 80px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.footer-certificates img:hover {
  transform: scale(1.1);
}

/* Social Icons Section */
.footer-social-icons a img {
  width: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.footer-social-icons a img:hover {
  transform: scale(1.2);
}

/* Media Queries */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-column {
    margin-bottom: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-certificates img {
    margin-top: 10px;
  }
}
