.our-customers {
  padding: 2rem;
  background-color: #f9f9f9;
  overflow: hidden;
  text-align: center;
}

.our-customers h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.customer-icons-wrapper {
  max-width: 100%;
  margin: 5rem auto;
  overflow-x: hidden; /* prevent horizontal scroll */
}

.sponsors-carousel .slide-item {
  padding: 10px;
  text-align: center;
}

.customer-icon {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-icon svg {
  width: 100%;
  height: 100%;
}

.customer-name {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;

}
.our-customers a {
  text-decoration: none;
  color: inherit;
}

.our-customers a:hover {
  color: #026AA7;
}

.OurCustomers-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #026AA7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.OurCustomers-btn:hover {
  background-color: #014f7f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sponsors-carousel .slick-slide {
    padding: 5px;
  }

  .customer-icon {
    width: 60px;
    height: 60px;
  }

  .customer-name {
    font-size: 0.85rem;
  }
/* 
  .OurCustomers-btn {
    width: 100%;
  } */
}
